<div class="container">
  <div>
    <h2>Ajouter votre candidature :</h2>
  </div>

  <form  #f="ngForm" class="form-group" >


    <div class="col-sm-4 col-md-4 col-lg-4" >
      <label >Nom</label>
      <input type="text" class="form-control" #nom="ngModel" id="nom" [(ngModel)]="candidat.nom" name="DateApp" placeholder="Nom">
    </div>


    <div class="col-sm-2 col-md-2 col-lg-2">
      <label >Prenom</label>
      <input type="text" class="form-control" #prenom="ngModel" id="prenom" [(ngModel)]="candidat.prenom" name="prenom"  placeholder="Prenom">
    </div>

<!-------------------------------------------------->

    <div class="mt-2">
      <button type="submit" (click)="addCandidacy()" class="btn btn-success">Add</button>
      <!--
      <div>
        <h3>{{ message }}</h3>
      </div>
-->
    </div>
   </form>
</div>

